/* General elements */

body {
    -webkit-text-size-adjust: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
}

hr {
    opacity: 1;
}


/* Text */

.text-heading {
    font-weight: normal;
}

.text-cyan {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-info-rgb),var(--bs-text-opacity))!important;
}

.text-magenta {
    --bs-text-opacity: 1;
    color: rgba(214,51,132,var(--bs-text-opacity))!important;
}

.text-chromatic {
    text-shadow: #0dcaf0 -0.1rem -0.1rem, #d63384 +0.2rem +0.0rem;
}

.text-shadow-black {
    text-shadow: #000000 0 0.1rem, #000000 0 0.1rem 0.15rem;
}

.text-shadow-white {
    text-shadow: #ffffff 0 0.1rem, #ffffff 0 0.1rem 0.15rem;
}

.text-gray-100 {
    color: #f8f9fa;
}

.text-gray-200 {
    color: #e9ecef;
}

.text-gray-300 {
    color: #dee2e6;
}

.text-gray-400 {
    color: #ced4da;
}

.text-gray-500 {
    color: #adb5bd;
}

.text-gray-600 {
    color: #6c757d;
}

.text-gray-700 {
    color: #495057;
}

.text-gray-800 {
    color: #343a40;
}

.text-gray-900 {
    color: #212529;
}


/* Display scale */

html.fs-100 {
    font-size: 100%;
}

html.fs-95 {
    font-size: 95%;
}

html.fs-90 {
    font-size: 90%;
}

html.fs-85 {
    font-size: 85%;
}

html.fs-80 {
    font-size: 80%;
}

html.fs-75 {
    font-size: 75%;
}

html.fs-70 {
    font-size: 70%;
}

html.fs-65 {
    font-size: 65%;
}

html.fs-60 {
    font-size: 60%;
}

html.fs-55 {
    font-size: 55%;
}

html.fs-50 {
    font-size: 50%;
}


/* Badge */

.badge {
    padding: .2rem .4rem;
    font-size: .75rem;
    border-radius: 0;
    vertical-align: middle;
}

.badge.difficulty {
    width: 100%;
}

.badge.normal {
    background-color: #009de6;
    text-shadow: #000000 0 0.1rem, #000000 0 0.1rem 0.15rem;
}

.badge.hard {
    background-color: #fed131;
    text-shadow: #000000 0 0.1rem, #000000 0 0.1rem 0.15rem;
}

.badge.expert {
    background-color: #fa0c98;
    text-shadow: #000000 0 0.1rem, #000000 0 0.1rem 0.15rem;
}

.badge.inferno {
    background-color: #4a004f;
    text-shadow: #000000 0 0.1rem, #000000 0 0.1rem 0.15rem;
}

.badge.badge-max {
    text-shadow: #000000 0 0.1rem, #000000 0 0.1rem 0.15rem;
}

.badge.filter-targets {
    background-color: #055160;
}

.badge.filter-candidates {
    background-color: #561435;
}

.badge.filter-others {
    background-color: #212529;
}


/* Form */

.form-control.playdata {
    height: 6.25rem;
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem #ffffff;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23d63384'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23d63384' stroke='none'/%3e%3c/svg%3e");
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    border-color: #d63384;
    box-shadow: 0 0 0 .25rem #d63384;
}

.invalid-feedback {
    color: #d63384;
}

.form-control.is-valid, .was-validated .form-control:valid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23ffffff' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 .25rem #ffffff;
}

.valid-feedback {
    color: #ffffff;
}

.btn {
    border-radius: 0;
}

.btn-white {
    color: var(--bs-dark);
    background-color: #ffffff;
}

.btn-white:hover {
    box-shadow: 0 0 1rem #ffffff7f;
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.btn-check:not(:checked):not(:hover) + .btn-dim {
    color: #0000007f;
}

.form-select:focus {
    box-shadow: 0 0 1rem #ffffff7f;
}


/* Rate class */

.bg-plain {
    background-color: #adb5bd;
    color: var(--bs-doby-color);
}

.bg-navy {
    background-color: #0d6efd;
    color: var(--bs-doby-color);
}

.bg-yellow {
    background-color: #ffc107;
    color: var(--bs-doby-color);
}

.bg-red {
    background-color: #d63384;
    color: var(--bs-doby-color);
}

.bg-purple {
    background-color: #6f42c1;
    color: var(--bs-doby-color);
}

.bg-blue {
    background: linear-gradient(30deg, #c0feff, #00beec, #c0feff);
    color: var(--bs-doby-color);
}

.bg-silver {
    background: linear-gradient(30deg, #eaffff, #aaaaaa, #eaffff);
    color: var(--bs-doby-color);
}

.bg-gold {
    background: linear-gradient(30deg, #eee100, #ffb100, #eee100);
    color: var(--bs-doby-color);
}

.bg-rainbow {
    background: linear-gradient(30deg, #ff008a, #d2e717, #00ffeb);
    color: var(--bs-doby-color);
}

.bg-older {
    background-color: #801f4f;
}

.bg-newer {
    background-color: #087990;
}

.bg-lt-950 {
    background-color: #adb5bd;
}

.bg-is-950 {
    background-color: #ffc107;
}

.bg-is-960 {
    background-color: #fd7e14;
}

.bg-is-970 {
    background-color: #dc3545;
}

.bg-is-980 {
    background-color: #6f42c1;
}

.bg-ge-990 {
    background-color: #0d6efd;
}

.text-lt-950 {
    color: #ced4da;
}

.text-is-950 {
    color: #ffcd39;
}

.text-is-960 {
    color: #fd9843;
}

.text-is-970 {
    color: #e35d6a;
}

.text-is-980 {
    color: #8c68cd;
}

.text-ge-990 {
    color: #3d8bfd;
}


/* Genre */
.bg-anime {
    background-color: #3a82ce;
}

.bg-vocaloid {
    background-color: #0195a9;
}

.bg-touhou {
    background-color: #fe002e;
}

.bg-musical {
    background-color: #ff7f1e;
}

.bg-variety {
    background-color: #21c763;
}

.bg-original {
    background-color: #fa0073;
}

.bg-tanoc {
    background-color: #262522;
}


/* Table */

tr {
    --bs-table-bg: #212529;
}

tr.table-primary {
    --bs-table-bg: #055160;
    border-color: #087990;
    color: #ffffff;
}

tr.table-custom-magenta {
    --bs-table-bg: #561435;
    border-color: #801f4f;
}

tr.table-custom-dethrone {
    --bs-table-bg: #6c757d;
    --bs-table-striped-bg: #6c757d;
}

.pt-half {
    padding-top: .125rem!important;
}

.sticky-column:not(.sticky-disabled) {
    position: sticky;
    left: 0rem;
    z-index: 2;
}

.sticky-row:not(.sticky-disabled) {
    position: sticky;
    top: 0rem;
    z-index: 3;
}

a.rate-increase {
    background-color: #ffffff;
    color: #000000;
    text-decoration-line: none;
}

a.multi-rate-selected {
    font-size: 0;
    color: #000000;
    background-color: #d63384;
    text-decoration-line: none;
}

a.multi-rate-selected::before {
    content: 'REMOVE';
    font-size: 0.75rem;
}

.increase::before {
    content: '+';
}


/* Box */

.bg-gray-100 {
    background-color:#f8f9fa
}

.bg-gray-200 {
    background-color:#e9ecef
}

.bg-gray-300 {
    background-color:#dee2e6
}

.bg-gray-400 {
    background-color:#ced4da
}

.bg-gray-500 {
    background-color:#adb5bd
}

.bg-gray-600 {
    background-color:#6c757d
}

.bg-gray-700 {
    background-color:#495057
}

.bg-gray-800 {
    background-color:#343a40
}

.bg-gray-900 {
    background-color:#212529
}

.bg-cyan {
    background-color: #0dcaf0!important;
}

.border-cyan {
    border-color: #0dcaf0!important;
}

.bg-magenta {
    background-color: #d63384!important;
}

.border-magenta {
    border-color: #d63384!important;
}

.border-black {
    border-color: #000000!important;
}

.box-shadow-black {
    box-shadow: 0.1rem 0.1rem #000000;
}

.box-shadow-white {
    box-shadow: 0.1rem 0.1rem #ffffff;
}

.skew-10 {
    transform: skew(-10deg);
}

.w-hrem {
    width: .5rem;
}

.h-hrem {
    height: .5rem;
}


/* Bootstrap utils */

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.bi-badge {
    width: .75rem;
    height: .75rem;
}

.bi {
    width: 1rem;
    height: 1rem;
}

.bi-lg {
    width: 4rem;
    height: 4rem;
}

.modal-shadow-white {
    box-shadow: 0 0 2rem #ffffff;
}

.modal-shadow-magenta {
    box-shadow: 0 0 2rem #d63384;
}